@mixin for-phone {
  @media (min-width: 320px) { @content; }
}

@mixin for-tablet {
  @media (min-width: 768px) { @content; }
}

@mixin for-desktop {
  @media (min-width: 1120px) { @content; }
}

$black-text: #343434;
$gray-text: #909090;
$gray-bar--light: #e0e1e2;
$gray-bar: #abadaf;
$green-bar: #42c372;
$blue-gray: #f2f6fa;